---
name: Build and Publish Package
on:
  push:
    branches:
      - "master"
      - "prerelease"
permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  attestations: write
  id-token: write
jobs:
  build:
    uses: aps831/workflows/.github/workflows/build-and-publish-maven-docker-image-artifact-v2.yaml@master
    with:
      image-name: "workflows-testbed-docker"
      dockerfile-build: Dockerfile.build
      dockerfile-prod: Dockerfile.prod
      build-commands: |
        mvn --settings settings.xml --batch-mode -Denforcer.fail=$WORKFLOW_CONTROL_RELEASE clean install
        echo "hello, world"
      test-commands: |
        mvn --settings settings.xml --batch-mode -Pe2e -Denforcer.fail=$WORKFLOW_CONTROL_RELEASE test
      templated-files: README.tpl.md
    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }} # GITHUB_TOKEN will not fire 'release' and 'registry_package' events
      COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
